.text-center {
  text-align: center;
}

.services-banner img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
}

.services-title {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.services-card-container {
  margin-top: 7.3rem;
  margin-bottom: 6.7rem;
}

.service-icon {
  margin-bottom: 1rem;
  color: #007bff;
}

.text-center {
  text-align: center;
}

.border-bottom {
  width: 50px;
  height: 10px;
  background-color: blue;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title i {
  color: #007bff;
}
